
<!DOCTYPE html>
{% load static %}
<html lang="en-US" dir="ltr">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>Pedal Rushers</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="{% static 'webstyle/assets/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/animate.css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/et-line-font/et-line-font.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="{% static 'webstyle/assets/css/style.css' %}" rel="stylesheet">
    <link id="color-scheme" href="{% static 'webstyle/assets/css/colors/default.css' %}" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top " role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="{% url 'Home' %}">Pedal Rushers</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a  href="{% url 'Home' %}">Home</a>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Category</a>
                <ul class="dropdown-menu">
                  {% for x in cat %}
                  <li class="dropdown"><a class="dropdown-toggle" href="{% url 'Sub_Filtered_product' sub_name=x.Category_PD %}" >{{x.Category_PD}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown"><a href="{% url 'Products_Web' %}" >Products</a></li>
              <li class="dropdown"><a  href="{% url 'Contact_page' %}" >Contact</a></li>
              <li class="dropdown"><a href="{% url 'About_page' %}">About</a></li>

               <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
                <ul class="dropdown-menu" role="menu">
                  <li ><a class="dropdown-toggle" href="{% url 'Cart_page' %}" data-toggle="dropdown">Cart</a></li>
                </ul>
              </li>

              <li class="dropdown"><a class="dropdown-toggle" href="documentation.html" data-toggle="dropdown">Documentation</a>
                <ul class="dropdown-menu">
                  <li><a href="documentation.html#contact">Contact Form</a></li>
                  <li><a href="documentation.html#reservation">Reservation Form</a></li>
                  <li><a href="documentation.html#mailchimp">Mailchimp</a></li>
                  <li><a href="documentation.html#gmap">Google Map</a></li>
                  <li><a href="documentation.html#plugin">Plugins</a></li>
                  <li><a href="documentation.html#changelog">Changelog</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt">Checkout</h1>
              </div>
            </div>
            <hr class="divider-w pt-20">
              <form action="{% url 'Save_Billing' %}" method="POST">
                {% csrf_token %}
                  <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control input-lg" type="text" placeholder="Name" value="{{request.session.Username}}" name="username" required readonly>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" type="email" placeholder="Email" name="email" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" type="text" placeholder="Phone Number" name="phonenumber" required>
                            </div>
                                <textarea class="form-control" rows="7" placeholder="Address" name="address" required></textarea> <br>
                            <div class="form-group">
                                <select class="form-control input-lg" name="state" required>
                                  <option>Select State</option>
                                  <option>Andhra Pradesh</option>
                                  <option>Arunachal Pradesh</option>
                                  <option>Assam</option>
                                  <option>Bihar</option>
                                  <option>Chhattisgarh</option>
                                  <option>Goa</option>
                                  <option>Gujarat</option>
                                  <option>Haryana</option>
                                  <option>Himachal Pradesh</option>
                                  <option>Jammu and Kashmir</option>
                                  <option>Jharkhand</option>
                                  <option>Karnataka</option>
                                  <option>Kerala</option>
                                  <option>Madhya Pradesh</option>
                                  <option>Maharashtra</option>
                                  <option>Manipur</option>
                                  <option>Meghalaya</option>
                                  <option>Mizoram</option>
                                  <option>Nagaland</option>
                                  <option>Odisha</option>
                                  <option>Punjab</option>
                                  <option>Rajasthan</option>
                                  <option>Sikkim</option>
                                  <option>Tamil Nadu</option>
                                  <option>Telangana</option>
                                  <option>Tripura</option>
                                  <option>Uttar Pradesh</option>
                                  <option>Uttarakhand</option>
                                  <option>West Bengal</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" type="text" placeholder="City" name="city" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" type="hidden" name="totalprice" value="{{total}}" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" type="text" placeholder="Postal Code" name="postal" required>
                            </div>
                                <textarea class="form-control" rows="7" placeholder="Say Something" name="message"></textarea> <br>
                            </div>
                        </div>
                    <hr class="divider-w"><br>
                    <button class="btn btn-b btn-round" type="submit">Place Order</button>
              </form>
          </div>
        </section>

      <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">About Pedal Rushers</h5>
                  <p>we're all about making cycling accessible and enjoyable for everyone. Whether you're a seasoned cyclist or just starting out, we have the perfect bike and accessories to get you rolling.</p>
                  <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
                  <p>Email: <a href="#">pedalrushers@gmail.com</a></p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Our Top Brands</h5>
                  <ul class="icon-list">
                    <li><a target="_blank" href="https://www.decathlon.in/search?query=triban">Triban</a></li>
                    <li><a target="_blank" href="https://www.marinbikes.com/in">Marin</a></li>
                    <li><a target="_blank" href="https://leaderbicycles.com/">Leader</a></li>
                    <li><a target="_blank" href="https://www.herocycles.com/">Hero Cycles</a></li>
                    <li><a target="_blank" href="https://hercules.in/">Hercules Cycles</a></li>
                    <li><a target="_blank" href="https://www.merida-bikes.com/en-au">Merida</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">

                  <h5 class="widget-title font-alt">Categories</h5>
                    {% for c in cat %}
                  <ul class="icon-list">
                    <li><a href="{% url 'Sub_Filtered_product' sub_name=c.Category_PD %}">{{c.Category_PD}}</a></li>
                  </ul>
                  {% endfor %}
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Services</h5>
                  <ul class="icon-list">
                    <li><a href="{% url 'Home'%}#services">Find Your Perfect Ride</a></li>
                    <li><a href="{% url 'Home'%}#services">Returns</a></li>
                    <li><a href="{% url 'Home'%}#services">Exchanges</a></li>
                    <li><a href="{% url 'Home'%}#services1">Refunds</a></li>
                    <li><a href="{% url 'Home'%}#services1">Secure</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2024&nbsp;<a href="{% url 'Home' %}">Pedal Rushers</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-fw"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>


     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'warning' %}
      <script>
        swal('{{i}}','','warning')
      </script>
    {% elif i.tags == 'error' %}
      <script>
        swal('{{i}}','','error')
      </script>
    {% elif i.tags == 'info' %}
      <script>
        swal('{{i}}','','info')
      </script>
    {% else %}
      <script>
        swal('{{i}}','','success')
      </script>
    {% endif %}
  {% endfor %}
{% endif %}
      <!--
    JavaScripts
    =============================================
    -->
    <script src="{% static 'webstyle/assets/lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/wow/dist/wow.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/isotope/dist/isotope.pkgd.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/flexslider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/smoothscroll.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
    <script src="{% static 'webstyle/assets/js/plugins.js' %}"></script>
    <script src="{% static 'webstyle/assets/js/main.js' %}"></script>
  </body>
</html>