
<!DOCTYPE html>
{% load static %}
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>Pedal Rushers</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets

    font awesome
    ============================================= -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--    =============================================-->


    <!-- Default stylesheets-->
    <link href="{% static 'webstyle/assets/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/animate.css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/et-line-font/et-line-font.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="{% static 'webstyle/assets/css/style.css' %}" rel="stylesheet">
    <link id="color-scheme" href="{% static 'webstyle/assets/css/colors/default.css' %}" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>

      <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="{% url 'Home' %}">Pedal Rushers</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a  href="{% url 'Home' %}">Home</a>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Category</a>
                <ul class="dropdown-menu">
                  {% for x in cat %}
                  <li class="dropdown"><a class="dropdown-toggle"  href="{% url 'Sub_Filtered_product' sub_name=x.Category_PD %}"  >{{x.Category_PD}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown"><a href="{% url 'Products_Web' %}" >Products</a></li>
              <li class="dropdown"><a  href="{% url 'Contact_page' %}" >Contact</a></li>
              <li class="dropdown"><a href="{% url 'About_page' %}">About</a></li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
                <ul class="dropdown-menu" role="menu">
                  <li ><a class="dropdown-toggle" href="{% url 'Cart_page' %}" data-toggle="dropdown">Cart</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Profile</a>
                <ul class="dropdown-menu" role="menu">

                  {% if request.session.Username %}
                  <li><a href="{% url 'Home' %}">{{request.session.Username}} <span class="icon-profile-male" aria-hidden="true"></span> </a></li>
                  <li><a href="{% url 'user_logout' %}">Logout <i class="fa fa-fw"></i></a></li>
                  {% else %}
                  <li><a href="{% url 'User_login_page' %}">Login / Register <i class="fa fa-fw"></i></a></li>
                  {% endif %}

                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="home-section home-full-height bg-dark-30" id="home" data-background="{% static 'webstyle/gallery/Main-bicycle.jpg' %}">
        <div class="titan-caption">
          <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
            <div class="font-alt mb-40 titan-title-size-4">We are Pedal Rushers</div><a class="section-scroll btn btn-border-w btn-round" href="{% url 'About_page' %}">Learn More</a>
          </div>
        </div>
      </section>
      <div class="main">
        <section class="module pb-0" id="works">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Category</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
          <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">

                {% for x in cat %}
                <li class="work-item marketing webdesign"><a href="{% url 'Sub_Filtered_product' sub_name=x.Category_PD %}">
                <div class="work-image" style="height:380px;"><img src="{{ x.Image_PD.url }}" alt="Portfolio Item"/></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">{{x.Category_PD}}</h3>
                </div>
                </a>
                </li>
              {% endfor %}
          </ul>
        </section>

        <section class="module" id="services">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 id="services" class="module-title font-alt">Our Services</h2>
                <div class="module-subtitle font-serif">We offer everything to elevate your rides, from finding the perfect bike to expert repairs and epic adventures. Let us fuel your passion for cycling</div>
              </div>
            </div>
            <div class="row multi-columns-row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-bike"></span></div>
                  <h3 id="services1" class="features-title font-alt">Find Your Perfect Ride</h3>
                  <p>Offer expert advice on choosing the right bike type (road, mountain, hybrid, electric) based on your needs and riding style.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lightbulb"></span></div>
                  <h3 class="features-title font-alt">Gear Up for Adventure</h3>
                  <p>Looking for comfy clothes, a helmet that fits just right, or some flashy lights? We've got you covered with top cycling gear.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools"></span></div>
                  <h3 class="features-title font-alt">Returns</h3>
                  <p>You can return any unused and unworn merchandise within 7 days of purchase for a full refund</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-refresh"></span></div>
                  <h3 class="features-title font-alt">Exchanges</h3>
                  <p>If you need a different size or color, you can exchange your item for the same product within 5 days of purchase.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools-2"></span></div>
                  <h3  class="features-title font-alt">Comprehensive Maintenance & Repairs</h3>
                  <p>Provide a full range of maintenance and repair services to keep your bike running smoothly.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-genius"></span></div>
                  <h3 class="features-title font-alt">Secure Delivery at Your Speed</h3>
                  <p>We offer standard and lightning-fast shipping options to get you rolling in no time. Plus, your order is always securely delivered, so you can focus on the excitement of getting out there and riding. Order today, shred tomorrow!</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-mobile"></span></div>
                  <h3 class="features-title font-alt">Delivery Tracking</h3>
                  <p>Once your order ships, you'll receive a confirmation email with a tracking number. You can use this number to track the progress of your delivery on the courier's website.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lifesaver"></span></div>
                  <h3 class="features-title font-alt">Refunds</h3>
                  <p>Once we receive your returned item and verify it meets the return policy criteria, we will issue a full refund to your original payment method within 7 business days.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
        <section class="module" id="team">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">New Arrivals</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
            <div class="row">
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="{% static 'webstyle/assets/images/team-1.jpg' %}" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Hi all</h5>
                      <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Jim Stone</div>
                    <div class="team-role">Art Director</div>
                  </div>
                </div>
              </div>
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="{% static 'webstyle/assets/images/team-2.jpg' %}" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Good day</h5>
                      <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Andy River</div>
                    <div class="team-role">Creative director</div>
                  </div>
                </div>
              </div>
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="{% static 'webstyle/assets/images/team-3.jpg' %}" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Hello</h5>
                      <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Adele Snow</div>
                    <div class="team-role">Account manager</div>
                  </div>
                </div>
              </div>
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="{% static 'webstyle/assets/images/team-4.jpg' %}" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Yes, it's me</h5>
                      <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Dylan Woods</div>
                    <div class="team-role">Developer</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="{% static 'webstyle/gallery/quotespic.png' %}" >
          <div class="testimonials-slider pt-140 pb-140"> 
            <ul class="slides">
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt">"The race is won by the rider who can suffer the most."</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Eddy Merckx</div>
                          <div class="testimonial-descr">Belgian former cyclist </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt">"It is in riding a bicycle that you learn the truth about yourself."</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Lance Armstrong</div>
                          <div class="testimonial-descr">American former professional road racing cyclist</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt">"When the legs scream stop and your lungs are bursting, that's when it starts."</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Fabian Cancellara </div>
                          <div class="testimonial-descr">Swiss professional road racing cyclist</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt">"A bicycle ride around the world begins with a single pedal stroke."</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Scott Stoll</div>
                          <div class="testimonial-descr">American cyclist and travel writer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="module" id="news">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Latest Customer Engagement</h2>
                <div class="module-subtitle font-serif">Curious what our customers are saying? Let's tune in and see what exciting new trends are emerging in customer engagement!</div>
              </div>
            </div>

            <div class="row multi-columns-row post-columns">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-20">
                  <div class="post-thumbnail"><a href="#"><video  width="100%" autoplay muted loop src="{% static 'webstyle/gallery/Video/Bicycle-stunt-video.mp4' %}"></video></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">Gravity who? Defying limits with today's stunt</a></h2>
                    <div class="post-meta">By&nbsp;<a href="#">Mark Stone</a>&nbsp;| 23 May | 4 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p>I recently purchased a MARIN GESTALT BASE GRAVEL BIKE PEDAL RUSHERS and I am writing to express my satisfaction with the entire experience. As someone seeking to re-enter cycling or explore cycling for the first time, I found the staff at Pedal Rushers to be incredibly knowledgeable and professional.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-20">
                  <div class="post-thumbnail"><a href="#"><video width="100%" autoplay muted loop src="{% static 'webstyle/gallery/Video/kidscycling.mp4' %}"></video></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">Little rider, big smiles!</a></h2>
                    <div class="post-meta">By&nbsp;<a href="#">Andy River</a>&nbsp;| 11 November | 4 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p> My little one is riding like a champ thanks to their new bike from Pedal Rushers! The website was easy to navigate to find the perfect size for them. The bike itself is lightweight and sturdy, perfect for those inevitable tumbles while learning. </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-20">
                  <div class="post-thumbnail"><a href="#"><video width="100%" autoplay muted loop src="{% static 'webstyle/gallery/Video/mountainbike.mp4' %}"></video></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">New mountain bike to conquer Mountains</a></h2>
                    <div class="post-meta">By&nbsp;<a href="#">Dylan Woods</a>&nbsp;| 14 June | 15 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p>Just wanted to say thanks to Pedal Rushers for the excellent service! I bought a new mountain bike from their website and they were very helpful throughout the entire process. They answered all my questions promptly and made sure I got the best deal possible. I'm very happy with my new bike and I'll definitely be back to Pedal Rushers in the future.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                <div class="callout-text font-alt">
                  <h3 class="callout-title">Subscribe now</h3>
                  <p>We will not spam your email.</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="callout-btn-box">
                  <form id="subscription-form" role="form" method="post" action="php/subscribe.php">
                    <div class="input-group">
                      <input class="form-control" type="email" id="semail" name="semail" placeholder="Your Email" data-validation-required-message="Please enter your email address." required="required"/><span class="input-group-btn">
                        <button class="btn btn-g btn-round" id="subscription-form-submit" type="submit">Submit</button></span>
                    </div>
                  </form>
                  <div class="text-center" id="subscription-response"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section class="module" id="contact">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Get in touch</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <form  method="post" action="{% url 'Save_contact_web' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" placeholder="Your Name*" required="required" data-validation-required-message="Please enter your name."/>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address."/>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" rows="7" id="message" name="message" placeholder="Your Message*" required="required" data-validation-required-message="Please enter your message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit</button>
                  </div>
                </form>
                <div class="ajax-response font-alt" id="contactFormResponse"></div>
              </div>
            </div>
          </div>
        </section>
        
        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">About Pedal Rushers</h5>
                  <p>we're all about making cycling accessible and enjoyable for everyone. Whether you're a seasoned cyclist or just starting out, we have the perfect bike and accessories to get you rolling.</p>
                  <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
                  <p>Email: <a href="#">pedalrushers@gmail.com</a></p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Our Top Brands</h5>
                  <ul class="icon-list">
                    <li><a target="_blank" href="https://www.decathlon.in/search?query=triban">Triban</a></li>
                    <li><a target="_blank" href="https://www.marinbikes.com/in">Marin</a></li>
                    <li><a target="_blank" href="https://leaderbicycles.com/">Leader</a></li>
                    <li><a target="_blank" href="https://www.herocycles.com/">Hero Cycles</a></li>
                    <li><a target="_blank" href="https://hercules.in/">Hercules Cycles</a></li>
                    <li><a target="_blank" href="https://www.merida-bikes.com/en-au">Merida</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">

                  <h5 class="widget-title font-alt">Categories</h5>
                    {% for c in cat %}
                  <ul class="icon-list">
                    <li><a href="{% url 'Sub_Filtered_product' sub_name=c.Category_PD %}">{{c.Category_PD}}</a></li>
                  </ul>
                  {% endfor %}
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Services</h5>
                  <ul class="icon-list">
                    <li><a href="#services">Find Your Perfect Ride</a></li>
                    <li><a href="#services">Returns</a></li>
                    <li><a href="#services">Exchanges</a></li>
                    <li><a href="#services1">Refunds</a></li>
                    <li><a href="#services1">Secure</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2024&nbsp;<a href="{% url 'Home' %}">Pedal Rushers</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-fw"></i></a>
                  <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'warning' %}
      <script>
        swal('{{i}}','','warning')
      </script>
    {% elif i.tags == 'error' %}
      <script>
        swal('{{i}}','','error')
      </script>
    {% elif i.tags == 'info' %}
      <script>
        swal('{{i}}','','info')
      </script>
    {% else %}
      <script>
        swal('{{i}}','','success')
      </script>
    {% endif %}
  {% endfor %}
{% endif %}
    <!--
    JavaScripts
    =============================================
    -->
    <script src="{% static 'webstyle/assets/lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/wow/dist/wow.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/isotope/dist/isotope.pkgd.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/flexslider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/smoothscroll.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
    <script src="{% static 'webstyle/assets/js/plugins.js' %}"></script>
    <script src="{% static 'webstyle/assets/js/main.js' %}"></script>
  </body>
</html>