
<!DOCTYPE html>
{% load static %}
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>Pedal Rushers</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="{% static 'webstyle/assets/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/animate.css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/et-line-font/et-line-font.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'webstyle/assets/lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="{% static 'webstyle/assets/css/style.css' %}" rel="stylesheet">
    <link id="color-scheme" href="{% static 'webstyle/assets/css/colors/default.css' %}" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>

<!--      navbar starting-->
      <nav class="navbar navbar-custom navbar-fixed-top " role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="{% url 'Home' %}">Pedal Rushers</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a  href="{% url 'Home' %}">Home</a>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Category</a>
                <ul class="dropdown-menu">
                  {% for x in cat %}
                  <li class="dropdown"><a class="dropdown-toggle"  href="{% url 'Sub_Filtered_product' sub_name=x.Category_PD %}" >{{x.Category_PD}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown"><a href="{% url 'Products_Web' %}" >Products</a></li>
              <li class="dropdown"><a  href="{% url 'Contact_page' %}" >Contact</a></li>
              <li class="dropdown"><a href="{% url 'About_page' %}">About</a></li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
                <ul class="dropdown-menu" role="menu">
                  <li ><a class="dropdown-toggle" href="{% url 'Cart_page' %}" data-toggle="dropdown">Cart</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<!--      navbar ending-->

      <div class="main">
        <section class="module bg-dark-60 shop-page-header" data-background="{% static 'webstyle/gallery/WhatsApp Image 2024-05-15 at 11.25.32_ef2c9d0f.jpg' %}" style="height:550px;">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Shop Products</h2>
                <div class="module-subtitle font-serif">Hit the road in style and safety.<br><br>Gear up for your next ride with our complete selection of bikes and accessories. Whether you're a seasoned cyclist or a casual cruiser, we have everything you need to get rolling. Browse our wide variety of bikes to find your perfect fit, then deck it out with essential accessories for comfort, safety, and performance. Let's get you riding!</div>
              <p style="margin-left:-420px;">Scroll Down <i class="fa fa-fw"></i></p>
              </div>
            </div>
          </div>
        </section>

<!--        <hr class="divider-w">-->
        <section class="module-small">
          <div class="container">
            <div class="row multi-columns-row">
               {% for p in pro %}
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="shop-item">
                  <div class="shop-item-image" style="height:350px;"><img src="{{ p.Pro_Img.url }}" height="300px" alt="Please wait Image is loading"/>
                    <div class="shop-item-detail"><a href="{% url 'Single_Product_Page' pro_id=p.id productname=p.Pro_Model %}" class="btn btn-round btn-b"><span class="icon-telescope"> Details</span></a></div>
                  </div>
                    <h4 class="shop-item-title font-alt"><a href="#">{{p.Pro_Type}}</a></h4>
                    <h4 class="shop-item-title font-alt"><a href="#">{{p.Pro_Model}}</a></h4>₹ {{p.Pro_Price}}
                </div>
              </div>
              {% endfor %}
            </div>

          </div>
        </section>

          <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">About Pedal Rushers</h5>
                  <p>we're all about making cycling accessible and enjoyable for everyone. Whether you're a seasoned cyclist or just starting out, we have the perfect bike and accessories to get you rolling.</p>
                  <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
                  <p>Email: <a href="#">pedalrushers@gmail.com</a></p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Our Top Brands</h5>
                  <ul class="icon-list">
                    <li><a target="_blank" href="https://www.decathlon.in/search?query=triban">Triban</a></li>
                    <li><a target="_blank" href="https://www.marinbikes.com/in">Marin</a></li>
                    <li><a target="_blank" href="https://leaderbicycles.com/">Leader</a></li>
                    <li><a target="_blank" href="https://www.herocycles.com/">Hero Cycles</a></li>
                    <li><a target="_blank" href="https://hercules.in/">Hercules Cycles</a></li>
                    <li><a target="_blank" href="https://www.merida-bikes.com/en-au">Merida</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">

                  <h5 class="widget-title font-alt">Categories</h5>
                    {% for c in cat %}
                  <ul class="icon-list">
                    <li><a href="{% url 'Sub_Filtered_product' sub_name=c.Category_PD %}">{{c.Category_PD}}</a></li>
                  </ul>
                  {% endfor %}
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Services</h5>
                  <ul class="icon-list">
                    <li><a href="{% url 'Home'%}#services">Find Your Perfect Ride</a></li>
                    <li><a href="{% url 'Home'%}#services">Returns</a></li>
                    <li><a href="{% url 'Home'%}#services">Exchanges</a></li>
                    <li><a href="{% url 'Home'%}#services1">Refunds</a></li>
                    <li><a href="{% url 'Home'%}#services1">Secure</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2024&nbsp;<a href="{% url 'Home' %}">Pedal Rushers</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
               <div class="footer-social-links">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-fw"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--
    JavaScripts
    =============================================
    -->
    <script src="{% static 'webstyle/assets/lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/wow/dist/wow.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/isotope/dist/isotope.pkgd.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/flexslider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/smoothscroll.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'webstyle/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
    <script src="{% static 'webstyle/assets/js/plugins.js' %}"></script>
    <script src="{% static 'webstyle/assets/js/main.js' %}"></script>
  </body>
</html>