<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedal Rushers | Edit Products</title>
  {% extends 'Index.html' %}
{% block content %}
</head>
<body>

<form method="post" action="{% url 'Update_Product' pid=data.id %}" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Products</h4>
                  <p class="card-description">
                    Enter Details Below.
                  </p>
                   <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Type</span>
                      </div>
                      <select class="form-control" name="TYPE">
                          <option>{{data.Pro_Type}}</option>
                          {% for x in sub %}
                          <option>{{x.Sub_Models}}</option>
                          {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Model</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Model" name="MODEL" value="{{data.Pro_Model}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Price</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Price" name="PRICE" value="{{data.Pro_Price}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Brand</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Brand" name="BRAND" value="{{data.Pro_Brand}}">
                    </div>
                  </div>
                   <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Description</span>
                      </div>
                      <textarea class="form-control" placeholder="Description" name="DESCRIPTION">{{data.Pro_Description}}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Uploaded Image</span>
                      </div>
                      <img src="{{data.Pro_Img.url }}"  width="85px" height="80px" style="margin-left:20px; border-radius:5px;" >
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">New image</span>
                      </div>
                      <input type="file" class="form-control" name="PIMAGE">
                    </div>
                  </div>
                  <button type="submit" class="bttn btn ">Update</button>
                </div>
              </div>
            </div>
</form>

<style>
  .wid {
  width:120px;
  }

  .bttn{
  background-color:white;
  color:rgb(13,110,253);
  border:1px solid rgb(13,110,253);
  }

  .bttn:hover{
  background-color:rgb(13,110,253);
  color:white;

  }
</style>
</body>
</html>
{% endblock %}