<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedal Rushers | Add Sub Categories</title>
  {% extends 'Index.html' %}
{% block content %}
</head>
<body>

<form method="post" action="{% url 'Save_Sub_category' %}" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create Sub Categories</h4>
                  <p class="card-description">
                    Enter Details Below.
                  </p>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Category</span>
                      </div>
                      <select class="form-control" name="CATEGORY">
                          <option>Select Main Category</option>
                          {% for x in CATG %}
                          <option>{{x.Category_PD}}</option>
                          {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Sub Category</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Sub Category" name="SUB" >
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Description</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Small Description" name="DESCRIPTION" >
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white wid">Upload image</span>
                      </div>
                      <input type="file" class="form-control" name="SUBIMAGE">
                    </div>
                  </div>
                  <button type="submit" class="bttn btn ">Submit</button>
                </div>
              </div>
            </div>
</form>

<style>
  .wid {
  width:100px;
  }

  .bttn{
  background-color:white;
  color:rgb(13,110,253);
  border:1px solid rgb(13,110,253);
  }

  .bttn:hover{
  background-color:rgb(13,110,253);
  color:white;

  }
</style>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'warning' %}
      <script>
        swal('{{i}}','','warning')
      </script>
    {% elif i.tags == 'error' %}
      <script>
        swal('{{i}}','','error')
      </script>
    {% elif i.tags == 'info' %}
      <script>
        swal('{{i}}','','info')
      </script>
    {% else %}
      <script>
        swal('{{i}}','','success')
      </script>
    {% endif %}
  {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}